
# DAVE binaries, logs and other stuff 
solver.log
Debug

# eclipse IDE
.settings
Debug
.cproject
.project

# netbeans
nbproject
dist
build
.dep.inc
Makefile
TA7-Regelung/FlightController_VisualStudio/FlightController/FlightController.opensdf
TA7-Regelung/FlightController_VisualStudio/FlightController/FlightController/FlightController.vcxproj
*.filters
TA7-Regelung/FlightController_VisualStudio/FlightController/FlightController.v12.suo
*.sln
TA7-Regelung/FlightController_VisualStudio/FlightController/FlightController.sdf
