
# DAVE binaries, logs and other stuff 
solver.log
Debug

# eclipse IDE
.settings
Debug
.cproject
.project

# netbeans
nbproject
dist
build
.dep.inc
Makefile
*.suo
TA7-Regelung/FlightController_VisualStudio/BA_Flightcontroller/BA_Flightcontroller.sdf
*.vcxproj
TA7-Regelung/FlightController_VisualStudio/BA_Flightcontroller/BA_Flightcontroller/BA_Flightcontroller.vcxproj.filters
*.opendb
TA7-Regelung/FlightController_VisualStudio/BA_Flightcontroller/BA_Flightcontroller.sln
