
# DAVE binaries, logs and other stuff
solver.log
Debug

# eclipse IDE
.settings
Debug
.cproject
.project

# netbeans
nbproject
dist
build
.dep.inc
Makefile

# visual studio
*.opensdf
*.vcxproj
*.filters
*.v12.suo
*.sln
*.sdf
*.opendb
*.filters
*.sln
*.suo
*.vcxproj.user
TA7-Regelung/Dokumentation/Thumbs.db
*.db
*.db
